.search-bar {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.movie-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.poster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

@media screen and (min-width: 640px) {
  .search-bar {
    grid-template-rows: auto;
    grid-template-columns: auto 200px 200px;
  }

  .movie-container {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
