.search-bar {
  display: grid;
  grid-template-columns: auto 150px 150px;
  gap: 10px;
}

.movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  resize: both;
}

.poster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
